extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/article.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
    div.title
    h1.artHead #{title}
    h3.authName Written By: #{author}
    hr
    div.postImg
      img(src='https://www.gimmesomeoven.com/wp-content/uploads/2018/09/How-To-Bake-Steak-In-The-Oven-Recipe-3.jpg')
    div.postbox 
      p.posttext #{body}
    hr

