doctype html
html
  head
      block head
        title="Medium Rare"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div.header
      div.headimage
        a(href="/")
          img(src='/images/steak.png')
      div.navsetup
        nav.navbar.navbar-lg.navbar-light.bg-light
          a.navbar-brand(href="/") Home
          if req.session.auth === undefined
            .navbar-nav
              a.nav-item.nav-link(href="/users/sign-up") Sign Up
            .navbar-nav
              a.nav-item.nav-link(href="/users/login") Log In
          if req.session.auth !== undefined
            .navbar-nav
              a.nav-item.nav-link(href="/profile") My Profile
            .navbar-nav
              form(class='logout' action='/users/logout' method='post')
                button(class='logout-button' type='submit') Logout
            .navbar-nav
              a.nav-item.nav-link(href="/create-post") Create Post
    
    div.splash
      div.splashwords 
        h1.splashh1 Where Good Steak Ideas Find You...
    hr
    block content

