extends layout.pug

include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
    h1 Login
    br
    +validationErrorSummary(errors)
    div.formBox
      form(action="/users/login" method="post" id='loginForm')
          input(type="hidden" name="_csrf" value=csrfToken)
          div.inputDiv
            label Username
            input(type="text" name="username")
          div.inputDiv
            label Password
            input(type="password" name="password")
          div.inputDiv
            button(type="submit") Submit