extends layout.pug
append head
    link(rel="stylesheet" href="/stylesheets/profile.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    h1 Welcome home chef...
    br
    div.profileBox
        #userPersonalInfo
            h4 First name:   #{userInfo.firstName}
            h4 Last name:   #{userInfo.lastName}
            h4 Username:   #{userInfo.username}
            h4 Email Address:   #{userInfo.email}