extends layout.pug
include utils.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
    h1 Sign Up
    br
    +validationErrorSummary(errors)
    div.formBox
        form(action="/users/sign-up", method="post")
            input(type="hidden" name="_csrf" value=csrfToken)
            div.inputDiv
                label Username
                input(type="text" name="username")
            div.inputDiv
                label First Name
                input(type="text" name="firstName")
            div.inputDiv
                label Last Name
                input(type="text" name="lastName")
            div.inputDiv
                label Email
                input(type="email" name="email")
            div.inputDiv
                label Password
                input(type="password" name="password")
            div.inputDiv
                label Confirm Password
                input(type="password" name="confirmPassword")
            button(type="submit") Submit