.postBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.recentPosts {
    margin: 2px;
    border: 1px;
    border-radius: .5em;
    width: 48%;
    padding: 20px;
    }

.keyWords {
    margin: 2px;
    border: 1px;
    border-radius: .5em;
    width: 48%;
    padding: 20px;
    }

.tagshell {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(5, 20%);
    grid-column: 4;
    
}