h1 {
    color: #555555;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.profileBox {
    color:#555555;
    background-color: rgb(238, 238, 238);
    display: grid;
    align-content: center;
    /* justify-content: center; */
    margin: 0 auto;
    border: #555555 solid 0px;
    border-radius: .5em;
    width: 600px;
    padding: 20px;
    box-shadow: 4px 4px 7px #333 ;
    font: inherit;
}

button#profile-button {
    margin: 2px;
    padding: 3px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 0.5em;
    color:white;
    text-align:center;
    font: inherit;
    width: 140px;
}

#userBio {
    margin: 2px;
    padding: 2px;
    font: inherit;
}

#userHeader{
    margin: 2px;
    padding: 2px;
    font: inherit;
}

.userButtons {
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    font: inherit;
}
button#profile-button:hover {
    font-weight: bold;
}