h1 {
  color: #555555;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.profileBox {
  color: #555555;
  background-color: rgb(238, 238, 238);
  display: grid;
  align-content: center;
  /* justify-content: center; */
  margin: 0 auto;
  border: #555555 solid 0px;
  border-radius: 0.5em;
  width: 600px;
  padding: 20px;
  box-shadow: 4px 4px 7px #333;
  font: inherit;
}

#profile-button,
#profile-button-edit,
#submit-profile-update,
#profile-button-delete,
#profile-button-bio,
#profile-button-changepassword {
  margin: 2px;
  padding: 3px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 0.5em;
  color: white;
  text-align: center;
  font: inherit;
  width: 140px;
}

#userBio {
  margin: 2px;
  padding: 2px;
  font: inherit;
}

#userHeader {
  margin: 2px;
  padding: 2px;
  font: inherit;
}

.userButtons {
  padding-top: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  font: inherit;
}

#profile-button:hover,
#profile-button-edit:hover,
#submit-profile-update:hover,
#profile-button-delete:hover,
#profile-button-bio:hover,
#profile-button-changepassword:hover {
  font-weight: bold;
}

#update-form {
  display: grid;
  align-content: center;
  border: none;
}

.update-user {
  border: 0;
  width: 300px;
}

#updateBioTextArea {
  width: 550px;
}

#changePassword label {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
}

#profile-button {
  margin-top: 6px;
}