body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

.header {
  background-color: blanchedalmond
}

.navsetup {
  background-color: #333;
  overflow: hidden;
}

.logout-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.navsetup a, .logout {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.splash {
  background-color: blanchedalmond;
  display: block;
  justify-content: center;
}

.splashimage {
  position: relative;
  }

.splashh1 {
  text-align: center;
}

.img2 {
  width: 750px;
  height: 500px;
    
}


h1 {
  font-size: 2rem;
}