h1 {
    color: #555555;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.formBox {
    color: #555555;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: #555555 solid 0px;
    border-radius: .5em;
    width: 500px;
    padding: 20px;
    box-shadow: 4px 4px 7px #333 ;
    font: inherit;
}

input {
    display: block;
    padding: 5px;
    margin: 5px;
    border: #555555 solid 1px; 
    border-radius: .5em;
}

.inputDiv {
    margin-bottom: 10px;
}

button#submit {
    /* padding: 8px 20px;
    border:0.5em solid #FFFFFF;
    text-transform:uppercase;
    font-weight:400;
    color:#555555;
    text-align:center; */
    margin: 2px;
    padding: 3px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 0.5em;
    color:white;
    text-align:center;
    font: inherit;
    width: 140px;
}